Flask==3.0.0
Flask-CORS==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
pydantic==2.5.3
python-socketio==5.11.0
python-engineio==4.9.0
PyJWT==2.8.0
Flask-WTF==1.2.1
Flask-Caching==2.1.0
redis==5.0.1
gunicorn==21.2.0
gevent==23.9.1
